<div class="viewswitcher">
	<view ng-if="isOfType(view.type, VIEW) || isUnknown(view.type)" viewdata="view"></view>
	<textview ng-if="isOfType(view.type, TEXTVIEW)" viewdata="view"></textview>
	<buttonview ng-if="isOfType(view.type, BUTTON)" viewdata="view"></buttonview>
	<checkboxview ng-if="isOfType(view.type, CHECKBOX)" viewdata="view"></checkboxview>
	<radiogroupview ng-if="isOfType(view.type, RADIOGROUP)" viewdata="view"></radiogroupview>
	<imageview ng-if="isOfType(view.type, IMAGE)" viewdata="view"></imageview>
	<viewgroup ng-if="isOfType(view.type, VIEWGROUP)" viewdata="view"></viewgroup>
</div>
